.wireframe-container {
    background-color: rgba(110, 209, 212, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: stretch;
}

.main-header {
    background-color: rgba(36, 37, 129, 1);
    display: flex;
    width: 100%;
    padding: 10px 80px 10px 23px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.profile-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 81px;
    border-radius: 50%;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
}

.title-container {
    border-radius: 28px;
    background-color: rgba(80, 80, 127, 1);
    align-self: stretch;
    display: flex;
    margin: auto 0;
    padding: 0 28px 0 63px;
    align-items: start;
    gap: 40px 100px;
    flex-wrap: wrap;
}

.title {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-family: "Fuzzy Bubbles", -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

.divider-container {
    display: flex;
    align-items: stretch;
    gap: 9px;
}

.vertical-divider {
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 3px;
    width: 3px;
    flex-shrink: 0;
    height: 62px;
}

.avatar-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 62px;
    border-radius: 100px;
    flex-shrink: 0;
}

.logo-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 90px;
    align-self: stretch;
    flex-shrink: 0;
}

.content-section {
    align-self: center;
    display: flex;
    margin-top: 28px;
    width: 808px;
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.explore-heading {
    font-family: "Fuzzy Bubbles", -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 64px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    white-space: nowrap;
    margin: 0;
    align-self: start;
}

.main-content-image {
    aspect-ratio: 1.45;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 47px;
    margin-top: 19px;
}

.footer-image {
    aspect-ratio: 3.33;
    object-fit: contain;
    object-position: center;
    width: 100%;
    z-index: 10;
    margin-top: -199px;
}

@media (max-width: 991px) {
    .main-header {
        max-width: 100%;
        padding: 10px 20px;
    }
    .title-container {
        max-width: 100%;
        padding: 0 20px;
    }
    .content-section {
        font-size: 40px;
        white-space: initial;
    }
    .explore-heading {
        font-size: 40px;
    }
    .main-content-image {
        max-width: 100%;
    }
    .footer-image {
        max-width: 100%;
    }
}